project:
  type: website
  output-dir: docs
resources:
  - images/


website:
  navbar:
    left:
      - href: index.qmd
        text: Inicio
      - href: CV
        text: Curriculum Vitae


format:
  html:
    theme: flatly  
    toc: false  
    number-sections: false
    toc-location: left  
